{% extends 'base.html' %}

{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              suraj nayi
            </p>
           
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="images/c3.jpg" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  {% endblock %}