{% extends 'base.html' %}

{% block content %}
  {% load static %}
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="{% static 'c1.jpg' %}" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      TRAFFIC RULE <br> VIOLATION MONITORING SYSTEM <br>
                    </h1>
                    <p>
                      With the development in the field of computers, electronics, semiconductors,
internet-of-things, networking and artificial-intelligence, one can completely rely on these
sources, a lot more than one believes humans. They are accurate and error-free. Using
all the current amenities, an electronic, network equipped and real time device which
can monitor the vehicles can be developed. This idea would revolutionize the field of
automobiles, as it solves some of the most paramount complications, all in one. The
device would perform all the essential tasks of various machines as well as vigilators. It
urges to monitor as well as safeguard the end user with its features. It would not only
help the user, it would also strive to help the government and various organisations in
diverse domains. This project would serve its purpose with its full intensity only when the
motor vehicle company is instructed to fit in the device into their commodity.
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1>
                      TRAFFIC RULE <br> VIOLATION MONITORING SYSTEM <br>
                    </h1>
                    <p>
                      With the development in the field of computers, electronics, semiconductors,
internet-of-things, networking and artificial-intelligence, one can completely rely on these
sources, a lot more than one believes humans. They are accurate and error-free. Using
all the current amenities, an electronic, network equipped and real time device which
can monitor the vehicles can be developed. This idea would revolutionize the field of
automobiles, as it solves some of the most paramount complications, all in one. The
device would perform all the essential tasks of various machines as well as vigilators. It
urges to monitor as well as safeguard the end user with its features. It would not only
help the user, it would also strive to help the government and various organisations in
diverse domains. This project would serve its purpose with its full intensity only when the
motor vehicle company is instructed to fit in the device into their commodity.
                    </p>
                    <div class="btn-box">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 ">
                  <div class="detail-box">
                    <h1> <br>
                      TRAFFIC RULE VIOLATION MONITORING SYSTEM
                    </h1>
                    <p>
                      With the development in the field of computers, electronics, semiconductors,
                      internet-of-things, networking and artificial-intelligence, one can completely rely on these
                      sources, a lot more than one believes humans. They are accurate and error-free. Using
                      all the current amenities, an electronic, network equipped and real time device which
                      can monitor the vehicles can be developed. This idea would revolutionize the field of
                      automobiles, as it solves some of the most paramount complications, all in one. The
                      device would perform all the essential tasks of various machines as well as vigilators. It
                      urges to monitor as well as safeguard the end user with its features. It would not only
                      help the user, it would also strive to help the government and various organisations in
                      diverse domains. This project would serve its purpose with its full intensity only when the
                      motor vehicle company is instructed to fit in the device into their commodity.
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
            hi
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'c3.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  A real time location track
                </h5>
                <p>
                  The device would track the real location of the vehicle via GPS.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'loc.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Traffic Signal violation detector and penalty
                </h5>
                <p>
                  The GPS would detect if the vehicle passed through a red-light signal, record the
offence, notify it to the police control room, and send a message to the violator
with necessary details such as date, time, location, image(if taken), and the
penalty levied.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'acc.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Road Accident detector and emergency alert
                </h5>
                <p>
                  The device would contain proximity sensors. When the vehicle hits the
ground(topple) or other moving/stationary body amidst a road, the device would
notify the nearest hospital and police station about the accident.
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'li.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  License and Insurance expiry notifier
                  </h5>
                  <p>
                    The device would notify the user before the expiry of the documents uploaded, in
  order to help the user to get them renewed on time. It would also notify the police
  after the expiry of the documents, so that they can track and levy fine on the
  vehicle.
                  </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span>
              </h2>
            </div>
            <p>
              Though the police have taken efforts to create awareness of the importance of
strictly following traffic rules among motorists and the public, roads are yet to
become safer for users. School students continue to ride two-wheelers at high
speed and without helmets, due to poor enforcement of the law. Sources in the
police say acute manpower shortage in the traffic wing has badly hampered its
functioning and enforcement of the law to curb traffic violations. According to
United Nations standards, there should be about 230 police for every 100,000
people. But in India, there are only 125 police officers for every 100,000
population. This is one of the lowest police to population ratios in the world. 16.6
lakh police personnel is the sanctioned strength there is in fact only 14.2 lakh in
service. That means there is a shortage of about 14.4%. On the contrary, the
numbers of vehicles entering the street have seen a steep rise over the years.
            </p>
            
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'c2.jpg' %}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

  <!-- track section -->

  <section class="track_section layout_padding">
    <div class="track_bg_box">
      <img src="{% static 'li.jpg' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </section>

  <!-- end track section -->

  <!-- client section -->

  <section class="client_section layout_padding">
    <div class="container">
      
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                
                </div>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->

  <!-- contact section -->
  <section class="contact_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="heading_container">
            <h2>
              Contact Us
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-md-1">
          <div class="form_container contact-form">
            <form action="">
              <div>
                <input type="text" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" placeholder="Email" />
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        
    </div>
  </section>
  <!-- end contact section -->

{% endblock %}