{% extends 'base.html' %}

{% block content %}

    <title>Animated Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="registration-form" method="post" action="{% url 'registration' %}" class="p-4 shadow">
                    {% csrf_token %}
                    <h1 class="text-center mb-4">Registration Form</h1>
                    <div class="form-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
