{% extends 'base.html' %}

{% block content %}

<body class="sub_page">

  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="service_container">
      <div class="container ">
        <div class="heading_container">
          <h2>
            Our <span>Services</span>
          </h2>
          <p>
           hi
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/c3.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  A real time location track
                </h5>
                <p>
                  The device would track the real location of the vehicle via GPS.
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/acc.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Traffic Signal violation detector and penalty
                </h5>
                <p>
                  The GPS would detect if the vehicle passed through a red-light signal, record the
offence, notify it to the police control room, and send a message to the violator
with necessary details such as date, time, location, image(if taken), and the
penalty levied.
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/loc.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Road Accident detector and emergency alert
                </h5>
                <p>
                  The device would contain proximity sensors. When the vehicle hits the
ground(topple) or other moving/stationary body amidst a road, the device would
notify the nearest hospital and police station about the accident.
                </p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="box ">
              <div class="img-box">
                <img src="images/li.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                License and Insurance expiry notifier
                </h5>
                <p>
                  The device would notify the user before the expiry of the documents uploaded, in
order to help the user to get them renewed on time. It would also notify the police
after the expiry of the documents, so that they can track and levy fine on the
vehicle.
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  {% endblock %}